<!--
* File: tomtestin
* Author: Vásárhelyi Ágoston
* Copyright: 2022.01.13., Vásárhelyi Ágoston
* Group: Szoft2/n
* Date: 2022-01-13
* Github: https://github.com/gostonnn/
* Licenc: GNU GPL
-->

<h1>Testtömegindex</h1>
<div class="divclass">
<div class="tomeg">
  <label> Testtömeg ( kg )</label>
  <input [formControl]="tomeg" >
  
</div>
<div class="magassag">
  
  <label>Testmagassag ( m )</label>
  <input [formControl]="magassag">
</div>

<button class="btn btn-outline-success" (click) ="onClickSzamit()">
  Számít
</button>

<div *ngIf="TesttomegVisible">
  <label>Eredmeny </label>
  <input [formControl]="result">
</div>

<div class="name">
  <br>
<label>Vásárhelyi Ágoston, 2022.01.13. Szoft2/n</label>
</div>
</div>